<!DOCTYPE html>
<html>
<head>
    <title>Gestor de Tareas</title>
    <link rel="stylesheet" href="static/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/Checky_3.png') }}">
</head>
<body>
<header class="header">

<div class="header-left">
    <img src="{{ url_for('static', filename='img/Checky_3.png') }}" alt="Logo Checky" class="logo-img">

    <div class="title-container">
        <h1>Checky</h1>
        <span id="task-count">0 tareas</span>
    </div>
</div>

    <div class="header-right">
        <div class="view-toggle">
            <button id="btnTareas" class="active">Tareas</button>
            <button id="btnAnalisis">Análisis</button>
        </div>
        <button class="btn-new-task">+ Nueva tarea</button>
    </div>

</header>

<div class="app-container" id="vistaTareas">
    <aside class="sidebar">
        <button id="toggleSidebar" class="sidebar-toggle">☰</button>
        
        <div class="calendar-section">
            <div id="mini-calendar">
                <div class="calendar-header">
                    <button id="prev-month">←</button>
                    <span id="calendar-title"></span>
                    <button id="next-month">→</button>
                </div>

                <div class="calendar-days">
                    <span>Lun</span><span>Mar</span><span>Mié</span>
                    <span>Jue</span><span>Vie</span><span>Sab</span><span>Dom</span>
                </div>

                <div class="calendar-grid" id="calendar-grid"></div>

            </div>
        </div>

        <div class="folders-section">
            <h3>Carpetas</h3>

            <ul id="folder-list">
                <li class="folder-item active" onclick="seleccionarCarpeta('Todas', this)">
                    <span class="folder-icon">📁</span>
                    <span class="folder-name">Todas</span>
                </li>
            </ul>

            <button class="btn-add-folder">+ Nueva carpeta</button>
        </div>

    </aside>

    <section class="tasks-section">
        <div class="estado-filtros">

        <button onclick="filtrarPorEstado('todos', this)">Todas</button>
        <button onclick="filtrarPorEstado('pendiente', this)">Pendiente</button>
        <button onclick="filtrarPorEstado('en progreso', this)">En progreso</button>
        <button onclick="filtrarPorEstado('completada', this)">Completada</button>

        </div>
        <div id="filters-info" class="filters-info"></div>

        <div class="tasks-container" id="tasks-container"></div>
    </section>

</div>

<div id="vistaAnalisis" style="display:none;">

    <h2 class="titulo-analisis">📊 Análisis</h2>

    <div class="kpis">
        <div class="kpi-card">Total<br><span id="total"><br>0</span></div>
        <div class="kpi-card">Pendientes<br><span id="pendientes"><br>0</span></div>
        <div class="kpi-card">En progreso<br><span id="progreso"><br>0</span></div>
        <div class="kpi-card">Completadas<br><span id="completadas"><br>0</span></div>
    </div>

    <div class="grid-2">
        <div class="card">
            <h3>Distribución de estados</h3>

            <div class="contenedor-grafico">
                <canvas id="graficoEstados"></canvas>

                <div id="sinDatosEstados" class="estado-vacio" style="display:none;">
                    <div class="icono">📊</div>
                    <p>No hay datos para mostrar</p>
                </div>
            </div>
        </div>

        <div class="card">
            <h3>Tareas por carpeta</h3>

            <div class="contenedor-grafico">
                <canvas id="graficoCarpetas"></canvas>

                <div id="sinDatosCarpetas" class="estado-vacio" style="display:none;">
                    <div class="icono">📁</div>
                    <p>No hay datos para mostrar</p>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <h3>Próximos 14 días</h3>
        <div class="contenedor-grafico">
            <canvas id="graficoFechas"></canvas>
            <div id="sinDatosFechas" class="estado-vacio" style="display:none;">
                <div class="icono">📅</div>
                <p>No hay datos para mostrar</p>
            </div>
        </div>
    </div>

    <div class="card">
        <h3>Productividad semanal</h3>

        <div class="contenedor-grafico">
            <canvas id="graficoProductividad"></canvas>

            <div id="sinDatosProductividad" class="estado-vacio" style="display:none;">
                <div class="icono">⏱️</div>
                <p>No hay datos de productividad</p>
            </div>
        </div>
    </div>
</div>


<div class="modal-overlay" id="modalNuevaTarea">

    <div class="modal">

        <div class="modal-header">
            <div>
                <h2 id="modalTitle">Nueva Tarea</h2>
                <p id="modalDesc">Completa los campos para crear una nueva tarea.</p>
            </div>

            <button class="modal-close" id="cerrarModal">✕</button>
        </div>

        <form id="formNuevaTarea">

            <div class="form-group">
                <label>Nombre de la tarea</label>
                <input type="text" id="titulo" maxlength="100" placeholder="Ej: Revisar documentación">
                <div class="char-counter" id="contadorTitulo">0 / 100</div>
                <small id="error-titulo" class="error"></small>
            </div>

            <div class="form-group">
                <label>Descripción</label>
                <textarea id="descripcion" maxlength="500" placeholder="Describe los detalles de la tarea..."></textarea>
                <div class="char-counter" id="contadorDescripcion">0 / 500</div>
                <small id="error-descripcion" class="error"></small>
            </div>


            <div class="form-group">
                <label>Estado</label>
                <select id="estado">
                    <option value="pendiente">Pendiente</option>
                    <option value="en progreso">En progreso</option>
                    <option value="completada">Completada</option>
                </select>
            </div>

            <div class="form-group">
                <label>Etiqueta</label>

                <div class="color-container">
                    
                    <div class="color-options">
                        <button type="button" class="color-btn azul" data-color="azul" data-nombre="Hogar"></button>
                        <button type="button" class="color-btn rojo" data-color="rojo" data-nombre="Urgente"></button>
                        <button type="button" class="color-btn verde" data-color="verde" data-nombre="Trabajo"></button>
                        <button type="button" class="color-btn amarillo" data-color="amarillo" data-nombre="Estudio"></button>
                        <button type="button" class="color-btn morado" data-color="morado" data-nombre="Personal"></button>
                        <button type="button" class="color-btn gris" data-color="gris" data-nombre="Otros"></button>
                    </div>

                    <span id="color-label" class="color-label">Selecciona una etiqueta</span>

                </div>

                <input type="hidden" id="color">
            </div>

            <div class="form-group">
                <label>Carpeta</label>
                <select id="task-folder">
                    <option value="Todas">Sin carpeta</option>
                </select>
            </div>

            <div class="form-group">
                <label>Fecha</label>
                <input type="date" id="fecha" min="">
            </div>


            <div class="modal-buttons">
                <button type="button" class="btn-cancelar">Cancelar</button>
                <button type="submit" class="btn-crear" id="btnGuardar" disabled>Crear tarea</button>
            </div>

        </form>

    </div>

</div>


<div class="modal-overlay" id="modalEliminar">

    <div class="modal modal-delete">

        <div class="modal-header">
            <h2 id="deleteTitle">Eliminar tarea</h2>
            <button class="modal-close" id="cerrarEliminar">✕</button>
        </div>

        <div class="delete-icon">⚠</div>

        <p class="delete-text">
            ¿Estás seguro de que deseas eliminar esta tarea?
            <br>
            <strong>Esta acción es irreversible.</strong>
        </p>

        <div class="modal-buttons">
            <button class="btn-cancelar" id="cancelarEliminar">Cancelar</button>
            <button class="btn-eliminar" id="confirmarEliminar">Eliminar</button>
        </div>

    </div>

</div>

<div id="modalCarpeta" class="folder-overlay">

    <div class="folder-modal">

        <div class="folder-header">
            <h2>Nueva carpeta</h2>
            <button class="folder-close" id="cerrarModalCarpeta">✕</button>
        </div>

        <div class="folder-body">
            <label>Nombre</label>
            <input type="text" id="nombreCarpeta" placeholder="Ej: Backend">
            <span id="errorCarpeta" class="error-text"></span>
        </div>

        <div class="folder-buttons">
            <button class="btn-cancelar" id="cancelarCarpeta">Cancelar</button>
            <button class="btn-guardar" id="guardarCarpeta">Guardar</button>
        </div>

    </div>
</div>

<div class="folder-overlay" id="modalEditarCarpeta">

    <div class="folder-modal">

        <div class="folder-header">
            <h3>Editar carpeta</h3>
            <button class="folder-close" id="cerrarEditarCarpeta">✖</button>
        </div>

        <div class="folder-body">
            <label>Nombre</label>
            <input type="text" id="inputEditarCarpeta">
            <span id="errorEditarCarpeta" class="error-text"></span>
        </div>

        <div class="folder-buttons">
            <button class="btn-cancelar" id="cancelarEditarCarpeta">Cancelar</button>
            <button class="btn-guardar" id="guardarEditarCarpeta">Guardar</button>
        </div>

    </div>

</div>

<div class="folder-overlay" id="modalEliminarCarpeta">

    <div class="folder-modal">

        <div class="folder-header">
            <h3>Eliminar carpeta</h3>
            <button class="folder-close" id="cerrarEliminarCarpeta">✖</button>
        </div>

        <div class="folder-body">
            <p>¿Seguro que deseas eliminar esta carpeta?</p>
            <p style="font-size:12px; color:#6b7280;">
                Las tareas se moverán a "Sin carpeta"
            </p>
        </div>

        <div class="folder-buttons">
            <button class="btn-cancelar" id="cancelarEliminarCarpeta">Cancelar</button>
            <button class="btn-eliminar" id="confirmarEliminarCarpeta">Eliminar</button>
        </div>

    </div>

</div>

<button class="btn-export" onclick="exportarExcelCompleto()">
    <span class="icon">📊</span> Exportar Reporte
</button>

<div id="toast-container"></div>

<script src="https://cdn.sheetjs.com/xlsx-latest/package/dist/xlsx.full.min.js"></script>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>